<div class="row">
    <div class="col-sm-12">
        <app-card [title]="acciones">
            <div style="width: 100%">
                <button pButton type="button" style="width: 100%" (click)="volver()" label="Atrás"></button>

            </div>
            <br>
            <p-messages [(value)]="msgs"></p-messages>

            <p-tabView [ngSwitch]="item.categoriaid.catalogoid">
                <p-tabPanel header="Ficha Inventario">
                    <piezaMuseable *ngIf="piezaMuseable!=null" [esCatalogacion]="true" [item]="item" [detalle]="detalle" [piezaMuseable]="piezaMuseable" (enviadorCatalogos)="obtenerCatalogos($event)"></piezaMuseable>
                </p-tabPanel>
                <p-tabPanel header="FORMA Y DISEÑO DEL BIEN ARQUEOLÓGICO" *ngSwitchCase="constantes.arqueologia">
                    <arqueologia-seccion2 [detalle]="detalle"></arqueologia-seccion2>
                </p-tabPanel>
                <p-tabPanel header="REGISTRO FOTOGRÁFICO" *ngIf="piezaMuseable!=null">
                    <div class="separadorInventario">
                        <h5>REGISTRO FOTOGRÁFICO</h5>
                        <div style="width: 100%;text-align: right">
                            <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                            <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
                        </div>
                    </div>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <img *ngIf="foto!=null" style="width: 100%" [src]="foto">
                                <input name="file" type="file" id="adjuntar" accept="image/*" class="ui-g-12 ui-md-12 ui-lg-12 inputUpload" (change)="fileChangeEvent($event,1)"
                                    placeholder="Subir Archivo..." required />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            Fotógrafo:

                        </div>
                        <div class="ui-grid-row">
                            <input pInputText type="text" maxlength="150" name="fotografo" [(ngModel)]="piezaMuseable.fotografo" />
                        </div>
                        <div class="ui-grid-row">
                            Lugar y fecha de registro:
                        </div>
                        <div class="ui-grid-row">
                            <input pInputText type="text" maxlength="150" name="fotografo" [(ngModel)]="piezaMuseable.fotografialugar" />
                        </div>




                    </div>
                </p-tabPanel>

                <p-tabPanel header="INFORMACIÓN YACIMIENTO" *ngSwitchCase="constantes.arqueologia">
                    <yacimiento *ngIf="detalle!=null" [detalle]="detalle"></yacimiento>
                </p-tabPanel>
                <p-tabPanel header="DATOS DE LA EXTRACCIÓN DEL BIEN ARQUEOLÓGICO" *ngSwitchCase="constantes.arqueologia">
                    <arqueologia-seccion3 [detalle]="detalle"></arqueologia-seccion3>
                </p-tabPanel>
                <p-tabPanel header="PROCESOS DE LOCALIZACIÓN DEL ESPÉCIMEN" *ngSwitchCase="constantes.entomologia">
                    <entomologia-seccion2 *ngIf="detalle!=null" [detalle]="detalle"></entomologia-seccion2>
                </p-tabPanel>
                <p-tabPanel header="REGISTRO FOTOGRÁFICO DEL ECOSISTEMA" *ngSwitchCase="constantes.entomologia">
                    <entomologia-seccion3 *ngIf="detalle!=null" [detalle]="detalle"></entomologia-seccion3>
                </p-tabPanel>
                <p-tabPanel header="REGISTRO GRÁFICOS PUBLICADOS" *ngSwitchCase="constantes.instrumental">
                    <instrumental-seccion2 *ngIf="detalle!=null" [detalle]="detalle"></instrumental-seccion2>
                </p-tabPanel>
                
                <p-tabPanel header="USO ACADÉMICO Y/O CIENTÍFICO DEL BIEN">
                    <usoAcademico *ngIf="piezaMuseable!=null" [piezaMuseable]="piezaMuseable"></usoAcademico>
                </p-tabPanel>

            </p-tabView>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-3">
                        <button pButton type="button" *ngIf="piezaMuseable!=null && detalle!=null" (click)="guardar()" label="{{properties.guardar.label}}" icon="{{properties.guardar.icon}}"></button>
                    </div>
                    <div class="ui-grid-col-3">
                        <button pButton type="button" (click)="volver()" label="{{properties.cancelar.label}}" icon="{{properties.cancelar.icon}}"
                            class="ui-button-secondary"></button>

                    </div>
                    <div class="ui-grid-col-4"></div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<p-confirmDialog key="validacionInventario" width="425" #cdNotificar2>
    <p-footer>
        
        <button type="button" id="cancelarEliminarBtn" pButton icon="{{properties.cancelar.icon}}" label="Aceptar"
            (click)="volver()"></button>
        <!-- </td> -->
    </p-footer>
</p-confirmDialog>