<div class="row">


  <!-- Statistics Start -->
  <div class="col-md-12 col-xl-12">
    <app-card *ngIf="verDasboard" [title]="'Movimientos Pendientes a Finalizar'">
      <div class="ui-g" *ngIf="esAdmin">
        <div class="ui-g-12 ui-md-12 ui-lg-1">Museo</div>
        <div class="ui-g-12 ui-md-12 ui-lg-2">

          <p-dropdown [options]="museoItem" name="museo" (ngModelChange)="movimientos=[];buscar()" filter="true" [style]="{'width': '100%'}"
            [(ngModel)]="museo"></p-dropdown>
        </div>

      </div>
      <div style="padding: 0">
        <p-tabView>
          <p-tabPanel header="Reporte General">
            <div class="ui-g">
              <div class="ui-g-6">
                  <p-panel header="Piezas Museo">
                      <p-dataTable [value]="cantidadPiezas" emptyMessage="{{properties.sinDatos}}" >
                          <p-column field="categoria" header="Categoría" [sortable]="true"></p-column>
                          <p-column field="cantidad" header="Cantidad" [sortable]="true"></p-column>

                        </p-dataTable>
                  </p-panel>
              </div>
              <div class="ui-g-6">
                  <p-panel header="Iventario">
                      <p-dataTable [value]="cantidadPiezasInventario" emptyMessage="{{properties.sinDatos}}" >
                          <p-column field="categoria" header="Año" [sortable]="true"></p-column>
                          <p-column field="cantidad" header="Cantidad" [sortable]="true"></p-column>

                        </p-dataTable>
                  </p-panel>
              </div>
              <div class="ui-g-6">
                  <p-panel header="Catalogación">
                      <p-dataTable [value]="cantidadPiezasCatalogacion" emptyMessage="{{properties.sinDatos}}" >
                          <p-column field="categoria" header="Año" [sortable]="true"></p-column>
                          <p-column field="cantidad" header="Cantidad" [sortable]="true"></p-column>

                        </p-dataTable>
                  </p-panel>
              </div>
              <div class="ui-g-6">
                  <p-panel header="Restauración">
                      <h4>TOTAL: {{restauracion}}</h4>
                  </p-panel>
              </div>
            </div>

            
          </p-tabPanel>
          <p-tabPanel header="Movimientos">
            <p-dataTable [value]="movimientos" emptyMessage="{{properties.sinDatos}}" [paginator]="true" [rows]="properties.cantidadRegistros">

              <p-column field="fechamovimiento" header="Fecha Movimiento" [sortable]="true" [style]="{'width':'155px','text-align': 'center'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  {{movimiento.fechamovimiento | date: properties.formatoFecha}}
                </ng-template>
              </p-column>
              <p-column header="Museo" [sortable]="true" [style]="{'width':'155px','text-align': 'center','margin':'5px'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  <span *ngIf="!movimiento.receptor" style="border-radius: 23px 23px 23px 23px;
                    -moz-border-radius: 23px 23px 23px 23px;
                    -webkit-border-radius: 10px 10px 10px 10px;
                    border: 0px solid #000000;
                    background: #4680ff;
                    padding: 11px;
                    color: white;
                    padding-top: 4px;
                    padding-bottom: 4px;width:85px">Emisor</span>
                  <span *ngIf="movimiento.receptor" style="border-radius: 23px 23px 23px 23px;
                    -moz-border-radius: 23px 23px 23px 23px;
                    -webkit-border-radius: 10px 10px 10px 10px;
                    border: 0px solid #000000;
                    background: #FC6180;
                    padding: 11px;
                    color: white;
                    padding-top: 4px;
                    padding-bottom: 4px;width:85px">Receptor</span>
                </ng-template>
              </p-column>


              <p-column field="tipomovimientoid.nombre" header="Tipo Movimiento" [sortable]="true" [style]="{'width':'255px'}"></p-column>
              <p-column field="institucion" header="I. Solicitante o Depositaria" [sortable]="true"></p-column>
              <!-- <p-column field="documentorespaldo" header="Documento Respaldo" [sortable]="true"></p-column> -->
              <p-column field="fechainicioprestamo" header="Fecha Inicio" [sortable]="true" [style]="{'width':'135px'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  {{movimiento.fechainicioprestamo | date: properties.formatoFecha}}
                </ng-template>
              </p-column>
              <p-column field="fechafinprestamo" header="Fecha Entrega" [sortable]="true" [style]="{'width':'135px'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  {{movimiento.fechafinprestamo | date: properties.formatoFecha}}
                </ng-template>
              </p-column>
              <p-column header="Estado" [sortable]="true" [style]="{'width':'185px','text-align': 'center'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  <div *ngIf="movimiento.dias>0">
                    <span style="border-radius: 23px 23px 23px 23px;
                  -moz-border-radius: 23px 23px 23px 23px;
                  -webkit-border-radius: 10px 10px 10px 10px;
                  border: 0px solid #000000;
                  background: red;
                  padding: 11px;
                  color: white;
                  padding-top: 4px;
                  padding-bottom: 4px;width:85px">ENTREGA RETRASADA</span>
                  </div>


                </ng-template>
              </p-column>
              <p-column header="Dias" [style]="{'width':'115px','text-align': 'center'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  <div *ngIf="movimiento.dias>0"> {{movimiento.dias}} dias de Atraso </div>
                  <div *ngIf="movimiento.dias<0">Faltan {{-1*movimiento.dias}} dias </div>
                </ng-template>
              </p-column>

            </p-dataTable>
          </p-tabPanel>
          <p-tabPanel header="Movimientos Pendientes Confirmación({{movimientosPendientes}})">
            <p-dataTable [value]="movimientosPendientesLista" [globalFilter]="gb" emptyMessage="{{properties.sinDatos}}" [paginator]="true"
              [rows]="10">
              <p-column field="fechamovimiento" header="Fecha Movimiento" [sortable]="true" [style]="{'width':'155px'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  {{movimiento.fechamovimiento | date: properties.formatoFecha}}
                </ng-template>
              </p-column>

              <p-column field="tipomovimientoid.nombre" header="Tipo Movimiento" [sortable]="true"></p-column>
              <p-column field="institucion" header="Institución" [sortable]="true"></p-column>
              <!-- <p-column field="documentorespaldo" header="Documento Respaldo" [sortable]="true"></p-column> -->
              <p-column field="fechainicioprestamo" header="Fecha Inicio" [sortable]="true" [style]="{'width':'155px'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  {{movimiento.fechainicioprestamo | date: properties.formatoFecha}}
                </ng-template>
              </p-column>
              <p-column field="fechafinprestamo" header="Fecha Entrega" [sortable]="true" [style]="{'width':'155px'}">
                <ng-template let-movimiento="rowData" pTemplate="body">
                  {{movimiento.fechafinprestamo | date: properties.formatoFecha}}
                </ng-template>
              </p-column>



            </p-dataTable>
          </p-tabPanel>
        </p-tabView>
      </div>
    </app-card>
  </div>

  <!-- Statistics End -->