<div class="separadorInventario">
      <h5>DATOS DE LOCALIZACIÓN DEL YACIMIENTO </h5>
      <div style="width: 100%;text-align: right">
            <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
            <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
      </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin" *ngIf="detalle!=null">

      <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                  Provincia:
            </div>
            <div class="ui-grid-col-4">
                  <p-dropdown [options]="provinciaItem" [style]="{'width':'100%'}" [(ngModel)]="detalle.yacimientoprovinciaid" name="provinciaid"
                        (ngModelChange)="obtenerCanton($event)"></p-dropdown>
                  <div class="impresion">
                        {{detalle.yacimientoprovinciaid?.valor}}
                  </div>
            </div>
            <div class="ui-grid-col-2">
                  Canton:
            </div>
            <div class="ui-grid-col-4">
                  <p-dropdown [options]="cantonItem" [style]="{'width':'100%'}" name="cantonid" [(ngModel)]="detalle.yacimientocantonid"></p-dropdown>
                  <div class="impresion">
                        {{detalle.yacimientocantonid?.valor}}
                  </div>
            </div>


      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                  Ciudad:
            </div>
            <div class="ui-grid-col-4">
                  <p-dropdown [options]="cantonItem" [style]="{'width':'100%'}" name="cantonid" [(ngModel)]="detalle.yacimientociudadid"></p-dropdown>
                  <div class="impresion">
                        {{detalle.yacimientociudadid?.valor}}
                  </div>
            </div>
            <div class="ui-grid-col-2">
                  Direccion:
            </div>
            <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="modelo" [(ngModel)]="detalle.yacimientodireccion" required />
                  <div class="impresion">
                        {{detalle.yacimientodireccion}}
                  </div>
            </div>

      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                  Localización geográfica:
            </div>
            <div class="ui-grid-col-10">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

                        <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                    Latitud:
                              </div>
                              <div class="ui-grid-col-10">
                                    <input pInputText type="text" maxlength="150" name="modelo" [(ngModel)]="detalle.yacimientolatitud" required />
                                    <div class="impresion">
                                          {{detalle.yacimientolatitud}}
                                    </div>
                              </div>
                        </div>
                        <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                    Longitud:
                              </div>
                              <div class="ui-grid-col-10">
                                    <input pInputText type="text" maxlength="150" name="modelo" [(ngModel)]="detalle.yacimientolongitud" required />
                                    <div class="impresion">
                                          {{detalle.yacimientolongitud}}
                                    </div>
                              </div>
                        </div>
                        <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                    Altura:
                              </div>
                              <div class="ui-grid-col-10">
                                    <input pInputText type="text" maxlength="150" name="modelo" [(ngModel)]="detalle.yacimientoaltura" required />
                                    <div class="impresion">
                                          {{detalle.yacimientoaltura}}
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                  Contenedor INPC:
            </div>
            <div class="ui-grid-col-10">
                  <input pInputText type="text" maxlength="150" name="direccionelectronica" [(ngModel)]="detalle.yacimientocontenedor" required
                  />
                  <div class="impresion">
                        {{detalle.yacimientocontenedor}}
                  </div>
            </div>


      </div>

</div>
<div class="separadorInventario">
      <h5>DATOS DEL YACIMIENTO </h5>
      <div style="width: 100%;text-align: right">
            <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
            <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
      </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin" *ngIf="detalle!=null">

      <div class="ui-grid-row">
            Morfología del yacimiento:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="550" name="detalles" [(ngModel)]="detalle.yacimientomorfologia"></textarea>
            <div class="impresion">
                  {{detalle.yacimientomorfologia}}
            </div>
      </div>
      <div class="ui-grid-row">
            Ubicación dentro del yacimiento:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="550" name="detalles" [(ngModel)]="detalle.yacimientoubicacion"></textarea>
            <div class="impresion">
                  {{detalle.yacimientoubicacion}}
            </div>
      </div>
      <div class="ui-grid-row">
            Fotografías del yacimiento:
      </div>
      <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                  <img *ngIf="fotoyacimiento!=null" style="max-width: 100%" [src]="fotoyacimiento">
                  <input name="file" type="file" accept="image/*" id="adjuntar" class="ui-g-12 ui-md-12 ui-lg-12 inputUpload" (change)="fileChangeEvent($event,14)"
                        placeholder="Subir Archivo..." required />
            </div>
      </div>
      <div class="ui-grid-row">
            Fotógrafo:

      </div>
      <div class="ui-grid-row">
            <input pInputText type="text" maxlength="150" name="fotografo" [(ngModel)]="detalle.yacimientofotografo" required />
            <div class="impresion">
                  {{detalle.yacimientofotografo}}
            </div>
      </div>
      <div class="ui-grid-row">
            Lugar y fecha de registro:
      </div>
      <div class="ui-grid-row">
            <input pInputText type="text" maxlength="150" name="fotografo" [(ngModel)]="detalle.yacimientolugar" required />
            <div class="impresion">
                  {{detalle.yacimientolugar}}
            </div>
      </div>
</div>
<div class="separadorInventario">
      <h5>PLANOS DEL YACIMIENTO</h5>
      <div style="width: 100%;text-align: right">
            <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
            <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
      </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin" *ngIf="detalle!=null">

      <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                  <img *ngIf="fotoyacimientoplano!=null" style="max-width: 100%" [src]="fotoyacimientoplano">
                  <input name="file" type="file" accept="image/*" id="adjuntar" class="ui-g-12 ui-md-12 ui-lg-12 inputUpload" (change)="fileChangeEvent($event,15)"
                        placeholder="Subir Archivo..." required />
            </div>
      </div>
      <div class="ui-grid-row">
            Arquitecto:

      </div>
      <div class="ui-grid-row">
            <input pInputText type="text" maxlength="150" name="fotografo" [(ngModel)]="detalle.yacimientoarquitecto" required />
            <div class="impresion">
                  {{detalle.yacimientoarquitecto}}
            </div>
      </div>
      <div class="ui-grid-row">
            Lugar y fecha de levantamiento:
      </div>
      <div class="ui-grid-row">
            <input pInputText type="text" maxlength="150" name="fotografo" [(ngModel)]="detalle.yacimientoplanoslugar" required />
            <div class="impresion">
                  {{detalle.yacimientoplanoslugar}}
            </div>
      </div>
</div>