<form #form="ngForm" (ngSubmit)="form.valid && confirmar()" style="width: 100%" novalidate>

  <p-fieldset legend="ACTA DE MOVIMIENTO">
    <div id="print-section">
      <div class="separadorInventario">
        <h5>1. INSTITUCIÓN SOLICITANTE O DEPOSITARIA</h5>
        <div style="width: 100%;text-align: right">
          <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
          <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
        </div>

      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Institución *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="institucion" [(ngModel)]="movimiento.institucion"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.institucion?.valid">El campo Institución es requerido</div>
            <div class="impresion">
              {{movimiento.institucion}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Dirección *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="direccion" [(ngModel)]="movimiento.direccion"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.direccion?.valid">El campo Dirección es requerido</div>
            <div class="impresion">
              {{movimiento.direccion}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            País *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="pais" [(ngModel)]="movimiento.pais" required
            />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.pais?.valid">El campo País es requerido</div>
            <div class="impresion">
              {{movimiento.pais}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Provincia:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="provincia" [(ngModel)]="movimiento.provincia"
            />
            <div class="impresion">
              {{movimiento.provincia}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Ciudad *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="ciudad" [(ngModel)]="movimiento.ciudad" required
            />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.ciudad?.valid">El campo Ciudad es requerido</div>
            <div class="impresion">
              {{movimiento.ciudad}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Teléfono *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="telefono" [(ngModel)]="movimiento.telefono"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.telefono?.valid">El campo Teléfono es requerido</div>
            <div class="impresion">
              {{movimiento.telefono}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Correo electrónico *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="email" [(ngModel)]="movimiento.email" required
            />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.email?.valid">El campo Correo electrónico es requerido</div>
            <div class="impresion">
              {{movimiento.email}}
            </div>
          </div>
        </div>

      </div>
      <div class="separadorInventario">
        <h5>2. TIPO DE MOVIMIENTO</h5>
        <div style="width: 100%;text-align: right">
          <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
          <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
        </div>

      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

        <div class="ui-grid-row">
          <div class="ui-grid-col-6" style="padding: 0">
            <div class="ui-g ocultar">
              <div class="ui-g-6">
                <p-radioButton [disabled]="desabilitados" (click)="tipoSeleccionado=null" name="tipo" value="1" label="EGRESO" [(ngModel)]="tipo"></p-radioButton>
              </div>
              <div class="ui-g-6">
                <p-radioButton [disabled]="desabilitados" (click)="tipoSeleccionado=null" name="tipo" value="2" label="INGRESO" [(ngModel)]="tipo"></p-radioButton>
              </div>
              <div class="ui-g-6">
                <div class="ui-g">
                  <div class="ui-g-12" *ngFor="let estado of tiposEgresos">
                    <p-radioButton [disabled]="tipo=='2' || desabilitados" name="integridad" value="{{estado.catalogoid}}" label="{{estado.nombre}}"
                      (click)="cambiarTipo()" [(ngModel)]="tipoSeleccionado"></p-radioButton>
                  </div>
                </div>
              </div>
              <div class="ui-g-6">
                <div class="ui-g">
                  <div class="ui-g-12" *ngFor="let estado of tiposIngresos">
                    <p-radioButton [disabled]="tipo=='1' || desabilitados" name="integridad2" value="{{estado.catalogoid}}" label="{{estado.nombre}}"
                      (click)="cambiarTipo()" [(ngModel)]="tipoSeleccionado"></p-radioButton>
                  </div>
                </div>
              </div>
              <div class="ui-g-2" *ngIf="tipoSeleccionado == constantes.prestamoInterno || tipoSeleccionado == constantes.traspasointerno">
                Museo Destino *:
              </div>
              <div class="ui-g-10" *ngIf="tipoSeleccionado == constantes.prestamoInterno || tipoSeleccionado == constantes.traspasointerno">
                <p-dropdown [options]="museoItem" filter="true" [style]="{'width': '100%'}" name="museo" [(ngModel)]="museoSeleccionado"
                  (ngModelChange)="cambiarMuseo()" required></p-dropdown>

                <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.procedencia?.valid">El campo Procedencia es requerido</div>
              </div>

              <div class="ui-g-12">
                <label for="">Observaciones:</label>
                <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="550" name="observaciones" [(ngModel)]="movimiento.observaciones"></textarea>

              </div>
            </div>
            <div class="ui-g impresion">
              <div class="ui-g-12">
                {{tipo=='1'?'EGRESO':'INGRESO'}}
              </div>
              <div class="ui-g-12">

                {{diccionarioImpresion[tipoSeleccionado]}}
              </div>
              <div class="ui-g-12">
                Observaciones:
              </div>
              <div class="ui-g-12">
                {{movimiento.observaciones}}
              </div>

            </div>
          </div>
          <div class="ui-grid-col-6" style="padding: 0">
            <div class="ui-g">
              <div class="ui-g-12">
                <div class="ui-g-12">Documento de respaldo: (Oficio, Memorando, Resolución,etc.)</div>

                <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="documentorespaldo" [(ngModel)]="movimiento.documentorespaldo"
                />
                <div class="impresion">
                  {{movimiento.documentorespaldo}}
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-12">Fecha de inicio *:</div>

                <p-calendar name="fechainicioprestamo" [disabled]="desabilitados" [locale]="es" [showIcon]="true" [(ngModel)]="movimiento.fechainicioprestamo"
                  required></p-calendar>
                <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.fechainicioprestamo?.valid">El campo Fecha de inicio es requerido</div>
                <div class="impresion">
                  {{movimiento.fechainicioprestamo | date: properties.formatoFecha}}
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-12">Fecha de entrega *:</div>

                <p-calendar name="fechafinprestamo" [disabled]="desabilitados" [locale]="es" [showIcon]="true" [(ngModel)]="movimiento.fechafinprestamo"
                  required></p-calendar>
                <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.fechafinprestamo?.valid">El campo Fecha de entrega es requerido</div>
                <div class="impresion">
                  {{movimiento.fechafinprestamo | date: properties.formatoFecha}}
                </div>
              </div>
              <div class="ui-g-12">

                <div class="ui-g-12">Aseguradora:</div>
                <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="aseguradora" [(ngModel)]="movimiento.aseguradora"
                />
                <div class="impresion">
                  {{movimiento.aseguradora}}
                </div>
              </div>
              <div class="ui-g-12">

                <div class="ui-g-12">Número de seguro:</div>
                <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="numeroseguro" [(ngModel)]="movimiento.numeroseguro"
                />
                <div class="impresion">
                  {{movimiento.numeroseguro}}
                </div>
              </div>
              <div class="ui-g-12">

                <div class="ui-g-12">Valor seguro:</div>
                <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="valorseguro" [(ngModel)]="movimiento.valorseguro"
                />
                <div class="impresion">
                  {{movimiento.valorseguro}}
                </div>
              </div>
              <div class="ui-g-12">

                <div class="ui-g-12">Forma de envío:</div>
                <p-inputSwitch [disabled]="desabilitados" [(ngModel)]="movimiento.formaenvio" onLabel="AÉREA" offLabel="TERRESTRE" name="formaenvio"
                  required></p-inputSwitch>
                <div class="impresion">
                  {{movimiento.formaenvio?'AÉREA':'TERRESTRE'}}
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="ui-grid-row">

        </div>
      </div>

      <div class="separadorInventario">
        <h5>3. DATOS DEL FUNCIONARIO QUE ENTREGA</h5>
        <div style="width: 100%;text-align: right">
          <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
          <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
        </div>

      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Nombre *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="entreganombre" [(ngModel)]="movimiento.entreganombre"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.entreganombre?.valid">El campo Nombre es requerido</div>
            <div class="impresion">
              {{movimiento.entreganombre}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Cargo *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="entregacargo" [(ngModel)]="movimiento.entregacargo"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.entregacargo?.valid">El campo Cargo es requerido</div>
            <div class="impresion">
              {{movimiento.entregacargo}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Reserva *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="entregareserva" [(ngModel)]="movimiento.entregareserva"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.entregareserva?.valid">El campo Reserva es requerido</div>
            <div class="impresion">
              {{movimiento.entregareserva}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            C.I *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="entregaci" [(ngModel)]="movimiento.entregaci"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.entregaci?.valid">El campo C.I es requerido</div>
            <div class="impresion">
              {{movimiento.entregaci}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Firma:
          </div>
          <div class="ui-grid-col-10">
            <textarea pInputTextarea [readonly]="desabilitados" style="resize: none; width: 100%" rows="3" maxlength="550" name="detalles"></textarea>
            <div class="impresion" style="height: 70px">

            </div>
          </div>
        </div>


      </div>

      <div class="separadorInventario">
        <h5>4. DATOS DEL FUNCIONARIO RECEPTOR</h5>
        <div style="width: 100%;text-align: right">
          <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
          <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
        </div>

      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Nombre *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="receptornombre" [(ngModel)]="movimiento.receptornombre"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.receptornombre?.valid">El campo Nombre es requerido</div>
            <div class="impresion">
              {{movimiento.receptornombre}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Cargo *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="receptorcargo" [(ngModel)]="movimiento.receptorcargo"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.receptorcargo?.valid">El campo Cargo es requerido</div>
            <div class="impresion">
              {{movimiento.receptorcargo}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Reserva *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="receptorreserva" [(ngModel)]="movimiento.receptorreserva"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.receptorreserva?.valid">El campo Reserva es requerido</div>
            <div class="impresion">
              {{movimiento.receptorreserva}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            C.I *:
          </div>
          <div class="ui-grid-col-10">
            <input [readonly]="desabilitados" pInputText type="text" maxlength="150" name="receptorci" [(ngModel)]="movimiento.receptorci"
              required />
            <div class="ui-messages-error" *ngIf="form.submitted  && !form.form.controls.receptorci?.valid">El campo C.I es requerido</div>
            <div class="impresion">
              {{movimiento.receptorci}}
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Firma:
          </div>
          <div class="ui-grid-col-10">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="3" maxlength="550" name="detalles"></textarea>
            <div class="impresion" style="height: 70px">

            </div>
          </div>
        </div>
      </div>
      <div class="separadorInventario">
        <h5>5. BIENES A SER ENTREGADOS</h5>
        <div style="width: 100%;text-align: right">
          <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
          <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
        </div>

      </div>
      <div class="ui-g" style="margin: 10px 0px;padding: 0">
        <p-dataTable [value]="piezasAgregadas" emptyMessage="No se han agregado piezas" [(selection)]="piezasSeleccionados">
          <p-column field="categoriaid.nombre" header="Categoría" [sortable]="true"></p-column>
          <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
          <p-column field="codigocontrol" header="Código de Control" [sortable]="true"></p-column>
          <p-column field="numeroserie" header="Número de Serie" [sortable]="true"></p-column>
          <p-column *ngIf="tipoFormulario==1" [style]="{'width':'38px'}" header="Seleccionar" selectionMode="multiple"></p-column>
        </p-dataTable>
        <div class="ui-g-12 ui-md-12 ui-lg-12 alineacionBotones" *ngIf="!desabilitados && !esDevolucion">
          <button pButton type="button" (click)="consultaReporteExposicion()" icon="{{properties.nuevo.icon}}" label="Reporte Exposición"></button>
          <button pButton type="button" (click)="agregarItem()" icon="{{properties.nuevo.icon}}" label="Agregar"></button>
          <button pButton type="button" (click)="quitarSeleccionados()" icon="{{properties.nuevo.icon}}" label="Quitar Seleccionados"></button>
          <button pButton type="button" (click)="quitarTodos()" icon="{{properties.nuevo.icon}}" label="Quitar Todos"></button>

        </div>

      </div>
      <div class="separadorInventario">
        <h5>NOTA IMPORTANTE</h5>
        <div style="width: 100%;text-align: right">
          <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
          <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
        </div>

      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">
        <p style="border: 1px solid black;margin: 0">La institución solicitante se coompromete a mantener y devolver el bien científico-cultural en las mismas condiciones
          en que fue entregado. Los costos de conservación / restauracion en caso de algún siniestro durante la custodia,
          deberán ser asumidos en su totalidad por la institución solicitante.
        </p>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"></div>
      <div class="ui-grid-col-3">
        <button *ngIf="tipoFormulario==1" pButton type="submit" label="{{properties.guardar.label}}" icon="{{properties.guardar.icon}}"
          [disabled]="!form.valid || tipoSeleccionado==null || ((tipoSeleccionado == constantes.prestamoInterno || tipoSeleccionado == constantes.traspasointerno)&& museoSeleccionado==null)"></button>
        <button *ngIf="tipoFormulario==2" pButton type="button" (click)="confirmar()" label="Confirmar Recepción" icon="{{properties.guardar.icon}}"></button>
        <button *ngIf="tipoFormulario==2" pButton type="button" (click)="devolver()" label="Devolver Movimiento" icon="{{properties.cancelar.icon}}"></button>
      </div>
      <div class="ui-grid-col-3">
        <button pButton type="button" (click)="volver()" label="{{properties.cancelar.label}}" icon="{{properties.cancelar.icon}}"
          class="ui-button-secondary"></button>

      </div>
      <div class="ui-grid-col-3">
        <button pButton type="button" (click)="print()" label="{{properties.imprimir.label}}" icon="{{properties.imprimir.icon}}"
          class="ui-button-secondary"></button>
      </div>
    </div>
  </p-fieldset>
</form>


<p-dialog [(visible)]="verPopUpItem" [style]="{'overflow': 'auto','max-height':'650px'}" [responsive]="true" showEffect="fade"
  [modal]="true" [draggable]="false" resizable="false" resizable="false" minWidth="1100" [positionTop]="140" [positionLeft]="350">
  <p-header>
    Piezas Patrimoniales
  </p-header>
  <div class="ui-g">

    <div class="ui-g-12 ui-md-12 ui-lg-1">Grupo</div>
    <div class="ui-g-12 ui-md-12 ui-lg-2">

      <p-dropdown [disabled]="bandera==1" [options]="grupoItem" name="grupo" filter="true" [style]="{'width': '100%'}" [(ngModel)]="grupo"
        (ngModelChange)="obtenerCategorias($event)"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-1">Categorias</div>
    <div class="ui-g-12 ui-md-12 ui-lg-2">

      <p-dropdown [disabled]="bandera==1" [options]="categoriaItem" filter="true" [style]="{'width': '100%'}" name="categoria"
        [(ngModel)]="categoria"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-3">

    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-3" style="text-align: right">

      <button [disabled]="grupo==null ||  categoria==null" pButton type="button" icon="{{properties.buscar.icon}}" label="{{properties.buscar.label}}"
        (click)="buscar()"></button>
    </div>


  </div>
  <div class="ui-g" *ngIf="bandera==0">
    <div class="ui-g-12 ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search"></i>
      <input onkeypress="return event.keyCode != 13;" style="width: 80%" type="text" [(ngModel)]="textoFiltra" pInputText placeholder="Filtro Global">
      <button pButton type="button" icon="fa-search" label="Filtrar" style="width: 18%" [disabled]="museo==null" (click)="filtrarItem()"></button>
    </div>
  </div>
  <div class="ui-g">

    <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 0">
      <p-dataTable [value]="items"  emptyMessage="{{properties.sinDatos}}" [(selection)]="itemsSeleccionados"
        [lazy]="true" [paginator]="true" [rows]="properties.cantidadRegistros" (onLazyLoad)="loadItemLazy($event)" [totalRecords]="totalRecords">
        <p-column field="categoriaid.nombre" header="Categoria" [sortable]="true"></p-column>
        <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
        <p-column field="codigocontrol" header="Codigo de Control" [sortable]="true"></p-column>
        <p-column field="numeroserie" header="Número de Serie" [sortable]="true"></p-column>

        <p-column [style]="{'width':'38px'}" header="Seleccionar" selectionMode="multiple"></p-column>
      </p-dataTable>
    </div>
  </div>

  <p-footer>
    <div class="ui-g">

      <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="{{properties.nuevo.icon}}" label="Agregar" (click)="agregarItems()"></button>
        <button pButton type="button" icon="{{properties.cancelar.icon}}" label="Cancelar" (click)="cancerlarAgregar()"></button>
      </div>

    </div>

  </p-footer>
</p-dialog>
<p-dialog [(visible)]="vistaPreviaExposicion" [style]="{'overflow': 'auto','max-height':'650px'}" [responsive]="true" showEffect="fade"
  [modal]="true" [draggable]="false" resizable="false" resizable="false" minWidth="1200" [positionTop]="140" [positionLeft]="350">
  <p-header>
    Vista Previa Reporte Exposición
  </p-header>
  <div id="exposicionPrint">
    <ng-container *ngFor="let categoria of listaExposicion">
      <ng-container [ngSwitch]="categoria.tipo">
        <ng-container *ngSwitchCase="1">
          <div class="separadorInventario">
            <h5>ARQUEOLOGÍA</h5>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>
          </div>
          <p-dataTable [value]="categoria.registros">
            <p-column field="nombre" header="Nombre"></p-column>
            <p-column field="categoria" header="Categoría Morfofuncional"></p-column>
            <p-column field="periodo" header="Período Histórico"></p-column>
            <p-column field="cronologia" header="Cronología"></p-column>
            <p-column field="cultura" header="Cultura"></p-column>
            <p-column field="fase" header="Fase"></p-column>
            <p-column header="Dimensiones">
              <ng-template let-detalle="rowData" pTemplate="body">
                <div class="ui-g">

                  <div class="ui-g-12">
                    Alto: {{detalle.alto}}
                  </div>

                  <div class="ui-g-12">
                    Largo: {{detalle.largo}}
                  </div>

                  <div class="ui-g-12">
                    Ancho: {{detalle.profundidad}}
                  </div>

                  <div class="ui-g-12">
                    Diámetro: {{detalle.diametro}}
                  </div>

                  <div class="ui-g-12">
                    Espesor: {{detalle.espesor}}
                  </div>

                  <div class="ui-g-12">
                    Peso: {{detalle.peso}}
                  </div>
                </div>
              </ng-template>
            </p-column>
            <p-column header="Fotografía" [style]="{'width':'200px'}">
              <ng-template let-registro="rowData" pTemplate="body">
                <img *ngIf="registro.imagen" style="width: 200px ;height: 200px;" [src]="registro.imagen" alt="">
              </ng-template>
            </p-column>
          </p-dataTable>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <div class="separadorInventario">
            <h5>ENTOMOLOGÍA</h5>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>
          </div>
          <p-dataTable [value]="categoria.registros">
            <p-column field="nombre" header="Nombre"></p-column>
            <p-column field="cientifico" header="Nombre Científico"></p-column>
            <p-column field="comun" header="Nombre común"></p-column>
            <p-column field="autor" header="Autor"></p-column>
            <p-column field="clase" header="Clase"></p-column>
            <p-column field="anio" header="Año"></p-column>
            <p-column header="Fotografía" [style]="{'width':'200px'}">
              <ng-template let-registro="rowData" pTemplate="body">
                <img *ngIf="registro.imagen" style="width: 200px ;height: 200px;" [src]="registro.imagen" alt="">
              </ng-template>
            </p-column>
          </p-dataTable>
        </ng-container>
        <ng-container *ngSwitchCase="6">
          <div class="separadorInventario">
            <h5>INSTRUMENTAL CIENTÍFICO</h5>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>
          </div>
          <p-dataTable [value]="categoria.registros">
            <p-column field="nombre" header="Nombre"></p-column>
            <p-column field="inventor" header="Nombre Científico"></p-column>
            <p-column field="fabricante" header="Fabricante"></p-column>
            <p-column field="lugar" header="Lugar Fabricación"></p-column>
            <p-column field="fecha" header="Siglo / Año">
              <ng-template let-movimiento="rowData" pTemplate="body">
                {{movimiento.fecha | date: properties.formatoFecha}}
              </ng-template>
            </p-column>
            <p-column header="Dimensiones">
              <ng-template let-detalle="rowData" pTemplate="body">
                <div class="ui-g">

                  <div class="ui-g-12">
                    Alto: {{detalle.alto}}
                  </div>

                  <div class="ui-g-12">
                    Largo: {{detalle.largo}}
                  </div>

                  <div class="ui-g-12">
                    Profundidad: {{detalle.profundidad}}
                  </div>

                  <div class="ui-g-12">
                    Diámetro: {{detalle.diametro}}
                  </div>

                  <div class="ui-g-12">
                    Espesor: {{detalle.espesor}}
                  </div>

                  <div class="ui-g-12">
                    Peso: {{detalle.peso}}
                  </div>
                </div>
              </ng-template>
            </p-column>
            <p-column header="Fotografía" [style]="{'width':'200px'}">
              <ng-template let-registro="rowData" pTemplate="body">
                <img *ngIf="registro.imagen" style="width: 200px ;height: 200px;" [src]="registro.imagen" alt="">
              </ng-template>
            </p-column>
          </p-dataTable>
        </ng-container>
        <ng-container *ngSwitchCase="7">
          <div class="separadorInventario">
            <h5>GEOLOGÍA</h5>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>
          </div>
          <p-dataTable [value]="categoria.registros">
            <p-column field="nombre" header="Nombre"></p-column>           
            <p-column header="Fotografía" [style]="{'width':'200px'}">
              <ng-template let-registro="rowData" pTemplate="body">
                <img *ngIf="registro.imagen" style="width: 200px ;height: 200px;" [src]="registro.imagen" alt="">
              </ng-template>
            </p-column>
          </p-dataTable>
        </ng-container>
        <ng-container *ngSwitchCase="8">
          <div class="separadorInventario">
            <h5>PALEONTOLOGÍA</h5>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>
          </div>
          <p-dataTable [value]="categoria.registros">
            <p-column field="nombre" header="Nombre"></p-column>
            <p-column field="cientifico" header="Nombre Científico"></p-column>
            <p-column field="comun" header="Nombre Común"></p-column>
            <p-column field="clase" header="Nombre"></p-column>
           
            <p-column header="Fotografía" [style]="{'width':'200px'}">
              <ng-template let-registro="rowData" pTemplate="body">
                <img *ngIf="registro.imagen" style="width: 200px ;height: 200px;" [src]="registro.imagen" alt="">
              </ng-template>
            </p-column>
          </p-dataTable>
        </ng-container>
        <ng-container *ngSwitchCase="9">
          <div class="separadorInventario">
            <h5>PALEONTOLOGÍA</h5>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>
          </div>
          <p-dataTable [value]="categoria.registros">
            <p-column field="nombre" header="Nombre"></p-column>
            <p-column field="cientifico" header="Nombre Científico"></p-column>
            <p-column field="comun" header="Nombre Común"></p-column>
            <p-column field="autor" header="Autor"></p-column>
           
            <p-column header="Fotografía" [style]="{'width':'200px'}">
              <ng-template let-registro="rowData" pTemplate="body">
                <img *ngIf="registro.imagen" style="width: 200px ;height: 200px;" [src]="registro.imagen" alt="">
              </ng-template>
            </p-column>
          </p-dataTable>
        </ng-container>
      </ng-container>



    </ng-container>
  </div>


  <p-footer>
    <div class="ui-g">

      <div class="ui-g-12" style="text-align: center">


        <button pButton type="button" (click)="printExposicion()" label="{{properties.imprimir.label}}" icon="{{properties.imprimir.icon}}"
          class="ui-button-secondary"></button>
        <button pButton type="button" icon="{{properties.cancelar.icon}}" label="Cancelar" (click)="vistaPreviaExposicion=false"></button>
      </div>

    </div>

  </p-footer>

</p-dialog>
<p-dialog [(visible)]="verPopUpPendientes" [style]="{'overflow': 'auto','max-height':'650px'}" [responsive]="true" showEffect="fade"
  [modal]="true" [draggable]="false" resizable="false" resizable="false" minWidth="1100" [positionTop]="140" [positionLeft]="350">
  <p-header>
    LISTA DE MOVIMIENTOS PENDIENTES A DEVOLVER
  </p-header>

  <p-dataTable [value]="movimientosPendientesDevolucion"  emptyMessage="{{properties.sinDatos}}" [paginator]="true"
    [rows]="10">

    <p-column field="fechamovimiento" header="Fecha Movimiento" [sortable]="true" [style]="{'width':'155px','text-align': 'center'}">
      <ng-template let-movimiento="rowData" pTemplate="body">
        {{movimiento.fechamovimiento | date: properties.formatoFecha}}
      </ng-template>
    </p-column>
    <p-column header="Museo" [sortable]="true" [style]="{'width':'155px','text-align': 'center','margin':'5px'}">
      <ng-template let-movimiento="rowData" pTemplate="body">
        <span *ngIf="movimiento.museoid==museo.museoid" style="border-radius: 23px 23px 23px 23px;
            -moz-border-radius: 23px 23px 23px 23px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;
            background: #4680ff;
            padding: 11px;
            color: white;
            padding-top: 4px;
            padding-bottom: 4px;width:85px">Emisor</span>
        <span *ngIf="movimiento.museoreceptorid==museo.museoid" style="border-radius: 23px 23px 23px 23px;
            -moz-border-radius: 23px 23px 23px 23px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;
            background: #FC6180;
            padding: 11px;
            color: white;
            padding-top: 4px;
            padding-bottom: 4px;width:85px">Receptor</span>
      </ng-template>
    </p-column>


    <p-column field="tipomovimientoid.nombre" header="Tipo Movimiento" [sortable]="true"></p-column>
    <p-column field="institucion" header="I. Solicitante o Depositaria" [sortable]="true"></p-column>

    <p-column field="fechainicioprestamo" header="Fecha Inicio" [sortable]="true" [style]="{'width':'155px'}">
      <ng-template let-movimiento="rowData" pTemplate="body">
        {{movimiento.fechainicioprestamo | date: properties.formatoFecha}}
      </ng-template>
    </p-column>
    <p-column field="fechafinprestamo" header="Fecha Entrega" [sortable]="true" [style]="{'width':'155px'}">
      <ng-template let-movimiento="rowData" pTemplate="body">
        {{movimiento.fechafinprestamo | date: properties.formatoFecha}}
      </ng-template>
    </p-column>
    <p-column header="Opciones" [style]="{'width':'175px','text-align': 'center'}">
      <ng-template let-movimiento="rowData" pTemplate="body">

        <button pButton (click)="seleccionarMovimientoDevolucion(movimiento)" label="Devolver Piezas"></button>
      </ng-template>
    </p-column>

  </p-dataTable>
  <p-footer>
    <div class="ui-g">

      <div class="ui-g-12" style="text-align: center">

        <button pButton type="button" icon="{{properties.cancelar.icon}}" label="Cancelar" (click)="verPopUpPendientes=false"></button>
      </div>

    </div>

  </p-footer>

</p-dialog>

<p-confirmDialog key="confirmarNotificacion" width="425" #cdNotificar>
  <p-footer>
    <!-- <td align="center" class="buttonAction"> -->
    <button type="button" id="aceptarEliminarBtn" pButton icon="{{properties.guardar.icon}}" label="Aceptar" (click)="guardar();cdNotificar.reject()"></button>
    <button type="button" id="cancelarEliminarBtn" pButton icon="{{properties.cancelar.icon}}" label="Cancelar" (click)="cdNotificar.reject()"></button>
    <!-- </td> -->
  </p-footer>
</p-confirmDialog>

<p-confirmDialog key="validacionItems" width="425" #cdNotificar2>
  <p-footer>

    <button type="button" id="cancelarEliminarBtn" pButton icon="{{properties.cancelar.icon}}" label="Aceptar" (click)="cdNotificar2.reject()"></button>
    <!-- </td> -->
  </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="verDetalleDevolucion" [style]="{'overflow': 'auto','max-height':'650px'}" [responsive]="true" showEffect="fade"
  [modal]="true" [draggable]="false" resizable="false" resizable="false" minWidth="1100" [positionTop]="140" [positionLeft]="350">
  <p-header>
    DETALEL DEVOLUCIÓN

  </p-header>
  <div >
    <label for="">Detalle Devolución:</label>
    <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="550" name="observaciones" [(ngModel)]="motivoDevolucion"></textarea>

  </div>

  <div style="text-align: center">
    <button type="button" [disabled]="motivoDevolucion==null" id="aceptarEliminarBtn" pButton icon="{{properties.guardar.icon}}" label="Aceptar" (click)="confirmarDevolucion()"></button>
    <button type="button" id="cancelarEliminarBtn" pButton icon="{{properties.cancelar.icon}}" label="Cancelar" (click)="verDetalleDevolucion=false"></button>
  </div>
  </p-dialog>