<div class="row">
  <div class="col-sm-12">
    <app-card [title]="acciones">


      <p-tabView>
        <p-tabPanel header="Usuarios" leftIcon="fa-users">
            <p-messages [(value)]="msgs"></p-messages>
          <p-dataTable [value]="usuarios">
            <p-column field="username" header="Usuario"></p-column>
            <p-column field="nombres" header="Nombres"></p-column>
            <p-column field="rol"  header="Rol" [style]="{'width':'175px'}">
              <ng-template let-usuario="rowData" pTemplate="body">
                <p-dropdown *ngIf="usuario.id!=0" [options]="rolItem" [(ngModel)]="usuario.rolId" (ngModelChange)="actualizarRol($event,usuario)"></p-dropdown>
              </ng-template>
            </p-column>           
          </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Roles" leftIcon="fa-user-circle-o">
            <p-messages [(value)]="msgsRol"></p-messages>
          <p-dataTable [value]="roles" *ngIf="bandera==0">
            <p-column field="nombre" header="Nombre"></p-column>
            <p-column field="permisos" header="Permisos">
                <ng-template let-rol="rowData" pTemplate="body">
                    <ul>
                      <li *ngFor="let permiso of rol.permisoSet">{{permiso.nombre}}</li>
                    </ul>
                  </ng-template>
            </p-column>
            <!-- <p-column header="Opciones" [style]="{'width':'175px'}">
              <ng-template let-rol="rowData" pTemplate="body">
                <button pButton (click)="modificarPermisos(rol)" icon="fa fa-fw fa-check" label="Modificar Permisos"></button>
              </ng-template>
            </p-column> -->

          </p-dataTable>
          <div *ngIf="bandera==1">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <p-listbox [options]="permisos" [style]="{'width':'100%'}" [(ngModel)]="permisosSelecionado" multiple="multiple" checkbox="checkbox" filter="filter">
                        <p-header>
                          <i class="fa fa-user-circle-o"></i> ROL {{rolSeleccionado.nombre}}
                        </p-header>
                      </p-listbox>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6"></div>                  
                
                <div class="ui-g-12 ui-md-12 ui-lg-6 alineacionBotones" >
                    <button pButton (click)="guardar()" icon="fa fa-fw fa-check" label="Guardar"></button>
                </div>

            </div>
            
            
          </div>

        </p-tabPanel>
       
      </p-tabView>
    </app-card>
  </div>
</div>

<p-confirmDialog key="confirmar" width="425" #cdEliminar>
    <p-footer>
        <button type="button" id="aceptarEliminarBtn" pButton icon="fa-check" label="Aceptar"
            (click)="actualizarUsuarioRol();cdEliminar.reject()"></button>
        <button type="button" id="cambiarConvocatoria();cancelarEliminarBtn" pButton icon="fa-times" label="Cancelar"
            (click)="cdEliminar.reject()"></button>
    </p-footer>
</p-confirmDialog>