<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Lista de Movimientos'">
      <div class="ui-g" *ngIf="esAdmin">
        <div  class="ui-g-12 ui-md-12 ui-lg-1">Museo</div>
        <div  class="ui-g-12 ui-md-12 ui-lg-2">

          <p-dropdown [disabled]="bandera==1" [options]="museoFiltroItem" name="museo" (ngModelChange)="buscarMuseo($event)" filter="true" [style]="{'width': '100%'}" [(ngModel)]="museo"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-9" style="text-align: right">
          
          <button [disabled]="museo==null" pButton type="button" icon="{{properties.buscar.icon}}" label="{{properties.buscar.label}}"
            (click)="buscarMuseo()"></button>
        </div>
      </div>
      <p-messages [(value)]="msgs"></p-messages>
      <p-tabView  (onChange)="buscarMuseo()">
        <p-tabPanel header="Movimientos">


          <div class="ui-g" *ngIf="bandera==0">
            
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 0">
              <p-dataTable [value]="movimientos"  emptyMessage="{{properties.sinDatos}}" [lazy]="true" [paginator]="true" [rows]="properties.cantidadRegistros"
              (onLazyLoad)="loadLazy($event)" [totalRecords]="totalRecords">

                <p-column field="fechamovimiento" header="Fecha Movimiento" [sortable]="true" [style]="{'width':'155px','text-align': 'center'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    {{movimiento.fechamovimiento | date: properties.formatoFecha}}
                  </ng-template>
                </p-column>
                <p-column header="Museo" [sortable]="true" [style]="{'width':'155px','text-align': 'center','margin':'5px'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    <span *ngIf="!movimiento.receptor" style="border-radius: 23px 23px 23px 23px;
                      -moz-border-radius: 23px 23px 23px 23px;
                      -webkit-border-radius: 10px 10px 10px 10px;
                      border: 0px solid #000000;
                      background: #4680ff;
                      padding: 11px;
                      color: white;
                      padding-top: 4px;
                      padding-bottom: 4px;width:85px">Emisor</span>
                    <span *ngIf="movimiento.receptor" style="border-radius: 23px 23px 23px 23px;
                      -moz-border-radius: 23px 23px 23px 23px;
                      -webkit-border-radius: 10px 10px 10px 10px;
                      border: 0px solid #000000;
                      background: #FC6180;
                      padding: 11px;
                      color: white;
                      padding-top: 4px;
                      padding-bottom: 4px;width:85px">Receptor</span>
                  </ng-template>
                </p-column>


                <p-column field="tipomovimientoid.nombre" header="Tipo Movimiento" [sortable]="true" [style]="{'width':'275px'}"></p-column>
                <p-column field="institucion" header="I. Solicitante o Depositaria" [sortable]="true"></p-column>
                <!-- <p-column field="documentorespaldo" header="Documento Respaldo" [sortable]="true"></p-column> -->
                <p-column field="fechainicioprestamo" header="Fecha Inicio" [sortable]="true" [style]="{'width':'155px'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    {{movimiento.fechainicioprestamo | date: properties.formatoFecha}}
                  </ng-template>
                </p-column>
                <p-column field="fechafinprestamo" header="Fecha Entrega" [sortable]="true" [style]="{'width':'155px'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    {{movimiento.fechafinprestamo | date: properties.formatoFecha}}
                  </ng-template>
                </p-column>
                <p-column header="Estado" [sortable]="true" [style]="{'width':'155px','text-align': 'center'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    <div *ngIf="movimiento.tipomovimientoid.catalogoid== constantes.prestamoInterno 
                    ||  movimiento.tipomovimientoid.catalogoid== constantes.traspasointerno 
                    ||  movimiento.tipomovimientoid.catalogoid== constantes.devolucionPrestamoInterno" style="font-size: 13px">

                      <span  *ngIf="movimiento.devuelto" >
                          DEVUELTO: {{movimiento.motivoDevolucion}}
                      </span>
                      <span *ngIf="!movimiento.devuelto">
                        <span *ngIf="movimiento.confirmacion">CONFIRMADA
                          <br> RECEPCIÓN</span>
                        <span *ngIf="!movimiento.confirmacion">NO CONFIRMADO</span>
                      </span>
                      

                    </div>
                  </ng-template>
                </p-column>
                <p-column header="Opciones" [style]="{'width':'85px','text-align': 'center'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    <button pButton (click)="ver(movimiento)" title="Ver" icon="fas fa-eye"></button>
                  </ng-template>
                </p-column>

              </p-dataTable>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 alineacionBotones">
              <button pButton *ngIf="esCustodioCultural && museo!=null" (click)="nuevo()" icon="{{properties.nuevo.icon}}" label="{{properties.nuevo.label}}"></button>


            </div>
          </div>
          <div class="ui-g" *ngIf="bandera==1">
            <div style="width: 100%">
              <button pButton type="button" style="width: 100%" (click)="volver()" label="Atrás"></button>
              <BR>

            </div>
            <br>

            <div class="ui-g" style="width: 100%">
              <formularioMovimiento *ngIf="bandera==1" [movimiento]="movimiento" [museo]="museo" [tipoFormulario]="tipoFormulario" (notificarGuardar)="actualizarVista($event)"></formularioMovimiento>
            </div>

          </div>
        </p-tabPanel>
        <p-tabPanel header="Movimientos Pendientes ({{movimientosPendientes}})">

          <div class="ui-g" *ngIf="banderaPendientes==0">
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 0">
              <p-dataTable [value]="movimientosPendientesLista" [globalFilter]="gb" emptyMessage="{{properties.sinDatos}}" [paginator]="true"
                [rows]="10">
                <p-column field="fechamovimiento" header="Fecha Movimiento" [sortable]="true" [style]="{'width':'155px'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    {{movimiento.fechamovimiento | date: properties.formatoFecha}}
                  </ng-template>
                </p-column>

                <p-column field="tipomovimientoid.nombre" header="Tipo Movimiento" [sortable]="true"></p-column>
                <p-column field="institucion" header="Institución" [sortable]="true"></p-column>
                <!-- <p-column field="documentorespaldo" header="Documento Respaldo" [sortable]="true"></p-column> -->
                <p-column field="fechainicioprestamo" header="Fecha Inicio" [sortable]="true" [style]="{'width':'155px'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    {{movimiento.fechainicioprestamo | date: properties.formatoFecha}}
                  </ng-template>
                </p-column>
                <p-column field="fechafinprestamo" header="Fecha Entrega" [sortable]="true" [style]="{'width':'155px'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    {{movimiento.fechafinprestamo | date: properties.formatoFecha}}
                  </ng-template>
                </p-column>

                <p-column header="Opciones" [style]="{'width':'85px','text-align': 'center'}">
                  <ng-template let-movimiento="rowData" pTemplate="body">
                    <button pButton (click)="confirmarMovimmiento(movimiento)" icon="fas fa-check-circle" title="Confirmarn Recepción"></button>
                    
                  </ng-template>
                </p-column>

              </p-dataTable>
            </div>

          </div>
          <div class="ui-g" *ngIf="banderaPendientes==1">
            <formularioMovimiento *ngIf="banderaPendientes==1" [movimiento]="movimiento" [tipoFormulario]="2" (notificarGuardar)="actualizarVista($event)"></formularioMovimiento>
          </div>


        </p-tabPanel>
      </p-tabView>
    </app-card>

  </div>
</div>