<div class="separadorInventario">
      <h5>SEMBLANZA DEL AUTOR/A</h5>
      <div style="width: 100%;text-align: right">
            <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
            <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
      </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin" *ngIf="detalle!=null">

      <div class="ui-grid-row">
            Breve biografía del autor/a *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="rasgos" [(ngModel)]="detalle.rasgos"
                  #rasgos="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Breve biografía del autor/a es requerido</div>
            <div class="impresion">
                  {{detalle.rasgos}}
            </div>
      </div>

      <div class="ui-grid-row">
            Formación artística *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="rasgos" [(ngModel)]="detalle.rasgos"
                  #rasgos="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Formación artística es requerido</div>
            <div class="impresion">
                  {{detalle.rasgos}}
            </div>
      </div>

      <div class="ui-grid-row">
            Movimientos artíticos u organizaciones a las que perteneció / pertenece *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="rasgos" [(ngModel)]="detalle.rasgos"
                  #rasgos="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Movimientos artíticos u organizaciones a las que perteneció / pertenece es requerido</div>
            <div class="impresion">
                  {{detalle.rasgos}}
            </div>
      </div>

      <div class="ui-grid-row">
            Exposiciones realizadas *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="rasgos" [(ngModel)]="detalle.rasgos"
                  #rasgos="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Exposiciones realizadas es requerido</div>
            <div class="impresion">
                  {{detalle.rasgos}}
            </div>
      </div>

      <div class="ui-grid-row">
            Premios recibidos *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="rasgos" [(ngModel)]="detalle.rasgos"
                  #rasgos="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Premios recibidos es requerido</div>
            <div class="impresion">
                  {{detalle.rasgos}}
            </div>
      </div>

      <div class="ui-grid-row">
            Instituciones y coleccionistas que posean sus obras *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="rasgos" [(ngModel)]="detalle.rasgos"
                  #rasgos="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Instituciones y coleccionistas que posean sus obras es requerido</div>
            <div class="impresion">
                  {{detalle.rasgos}}
            </div>
      </div>
</div>