<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin"  *ngIf="detalle!=null">

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Categoría morfofuncional *:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="categoriamorfofuncional" [(ngModel)]="detalle.categoriamorfofuncional" #categoriamorfofuncional="ngModel"
        disabled="true" />
      <div class="impresion">
        {{detalle.categoriamorfofuncional}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Variaciones del nombre:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="variacionnombre" [(ngModel)]="detalle.variacionnombre" disabled="true"/>
      <div class="impresion">
        {{detalle.variacionnombre}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Denominación nativa:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="categoriamorfofuncional" [(ngModel)]="detalle.denominacionnativa" disabled="true"/>
      <div class="impresion">
        {{detalle.denominacionnativa}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Material primario *:
    </div>
    <div class="ui-grid-col-10">
      <div class="ui-g ocultar">
        <div class="ui-g-3" *ngFor="let estado of materialesItem">
          <p-checkbox name="materiales" value="{{estado.catalogoid}}" label="{{estado.nombre}}" (click)="impr()" [(ngModel)]="materialesArqueologiaSelecionados" disabled="true"></p-checkbox>
        </div>
      </div>
      <div class="ui-g impresion" style="width: 100%">
          <div class="ui-g-3" *ngFor="let estado of materialesArqueologiaSelecionados">
              <input type="checkbox" style="display: initial !important"  checked>{{diccionarioImpresion[estado]}}
            </div>
        </div>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Tipo de material *:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tipomaterial" [(ngModel)]="detalle.tipomaterial" #tipomaterial="ngModel"
        disabled="true"/>
      <div class="impresion">
        {{detalle.tipomaterial}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Procedencia del material:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tecnicamanofactura" [(ngModel)]="detalle.procedenciamaterial" disabled="true"/>
      <div class="impresion">
        {{detalle.procedenciamaterial}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Término nativo del material:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tecnicamanofactura" [(ngModel)]="detalle.terminonativomaterial" disabled="true"/>
      <div class="impresion">
        {{detalle.terminonativomaterial}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Técnica de manufactura *:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tecnicamanofactura" [(ngModel)]="detalle.tecnicamanofactura" #tecnicamanofactura="ngModel"
        disabled="true"/>
      <div class="impresion">
        {{detalle.tecnicamanofactura}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Término nativo de manofactura:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tecnicamanofactura" [(ngModel)]="detalle.terminonativomanofactura" disabled="true"/>
      <div class="impresion">
        {{detalle.terminonativomanofactura}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Técnica decorativa *:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tecnicadecorativa" [(ngModel)]="detalle.tecnicadecorativa" #tecnicadecorativa="ngModel"
      disabled="true"/>
      <div class="impresion">
        {{detalle.tecnicadecorativa}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Término nativo de decoración:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="tecnicamanofactura" [(ngModel)]="detalle.terminonativodecoracion" disabled="true"/>
      <div class="impresion">
        {{detalle.terminonativodecoracion}}
      </div>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Periodo histórico *:
    </div>
    <div class="ui-grid-col-6">
      <input pInputText type="text" maxlength="150" name="periodohistorico" [(ngModel)]="detalle.periodohistorico"  #periodohistorico="ngModel" disabled="true"/>
      <div class="impresion">
        {{detalle.periodohistorico}}
      </div>
    </div>
    <div class="ui-grid-col-2">
      Cronología *:
    </div>
    <div class="ui-grid-col-2">
      <input pInputText type="text" maxlength="150" name="cronologia" [(ngModel)]="detalle.cronologia"  #cronologia="ngModel" disabled="true" />
      <div class="impresion">
        {{detalle.cronologia}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Cultura *:
    </div>
    <div class="ui-grid-col-6">
      <input pInputText type="text" maxlength="150" name="cultura" [(ngModel)]="detalle.cultura" #cultura="ngModel" disabled="true" />
      <div class="impresion">
        {{detalle.cultura}}
      </div>
    </div>
    <div class="ui-grid-col-2">
      Fase:
    </div>
    <div class="ui-grid-col-2">
      <input pInputText type="text" maxlength="150" name="fase" [(ngModel)]="detalle.fase" disabled="true"/>
      <div class="impresion">
        {{detalle.fase}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">Dimensiones:</div>
    <div class="ui-grid-col-10" style="padding: 0">
      <div class="ui-g">

        <div class="ui-g-2">
          Alto *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="number"  name="alto" [(ngModel)]="detalle.alto" #alto="ngModel" disabled="true" />
          <div class="impresion">
            {{detalle.alto}}
          </div>
        </div>
        <div class="ui-g-2">
          Largo *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="number" maxlength="150" name="largo" [(ngModel)]="detalle.largo"  #largo="ngModel" disabled="true" />
          <div class="impresion">
            {{detalle.largo}}
          </div>
        </div>
        <div class="ui-g-2">
          Ancho *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="number"  name="ancho" [(ngModel)]="detalle.ancho"  #ancho="ngModel" disabled="true" />
          <div class="impresion">
            {{detalle.ancho}}
          </div>
        </div>
        <div class="ui-g-2">
          Diámetro *:
        </div>
        <div class="ui-g-2">

          <input pInputText type="number"  name="diametro" [(ngModel)]="detalle.diametro"  #diametro="ngModel" disabled="true" />
          <div class="impresion">
            {{detalle.diametro}}
          </div>

        </div>
        <div class="ui-g-2">
          Espesor *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="number"  name="espesor" [(ngModel)]="detalle.espesor"  #espesor="ngModel" disabled="true" />
          <div class="impresion">
            {{detalle.espesor}}
          </div>
        </div>
        <div class="ui-g-2">
          Peso *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="number"  name="peso" [(ngModel)]="detalle.peso"  #peso="ngModel" disabled="true" />
          <div class="impresion">
            {{detalle.peso}}
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Inscripciones:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="inscripciones" [(ngModel)]="detalle.inscripciones" disabled="true"/>
      <div class="impresion">
        {{detalle.inscripciones}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Elemento relacionados:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="elementosrelacionado" [(ngModel)]="detalle.elementosrelacionado" disabled="true"/>
      <div class="impresion">
        {{detalle.elementosrelacionado}}
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Descripción *:
    </div>
    <div class="ui-grid-col-10">
      <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="2290" name="descripcion" [(ngModel)]="detalle.descripcion" #descripcion="ngModel" disabled="true"></textarea>>
      <div class="impresion">
        {{detalle.descripcion}}
      </div>
    </div>
  </div>
</div>