<div class="row">
  <div class="col-sm-12">
    <app-card [title]="acciones">
      <div style="width: 100%" *ngIf="!esCatalogacion">
        <button pButton type="button" style="width: 100%" (click)="volver()" label="Atrás"></button>

      </div>
      <br>
      <p-messages [(value)]="msgs"></p-messages>

      <div class="ui-g" *ngIf="piezaMuseable!=null">
        <form #form="ngForm" style="width: 100%" novalidate>


          <div *ngIf="!esCatalogacion" class="separadorInventario">
            <h4>FICHA DE INVENTARIO {{item?.categoriaid.nombre}}</h4>
            <div style="width: 100%;text-align: right">
              <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
              <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
            </div>

          </div>
          <div id="print-section">

            <div class="separadorInventario">
              <h5>INFORMACIÓN TÉCNICA</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>

            </div>
            <arqueologia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.arqueologia" [detalle]="detalle" [materialesArqueologiaSelecionados]="materialesArqueologiaSelecionados"
              (enviadorCondicion)="obtenerMaterialesArquelogica($event)" [submitted]="submitted" (validacionFormulario)="validarGuardar($event)"></arqueologia>
            <botanica [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.botanica" [detalle]="detalle" [origenesBotanicaSeleccionados]="origenesBotanicaSeleccionados"
              [tecnicaConservacionBotanicaSelecionados]="tecnicaConservacionBotanicaSelecionados" (enviadorTecnicas)="optenerBotanicaTecnicas($event)"
              (enviadorOrigenes)="optenerBotanicaOrigenes($event)"></botanica>
            <entomologia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.entomologia" [detalle]="detalle" (enviadorCondicion)="obtenerDatoHijoEntomologia($event)"
              [tecnicaConservacionSelecionados]="tecnicaConservacionSelecionados" [submitted]="submitted" (validacionFormulario)="validarGuardar($event)"></entomologia>
            <fotografia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.fotografia" [detalle]="detalle" [submitted]="submitted" (validacionFormulario)="validarGuardar($event)"></fotografia>
            <geologia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.geologia" [detalle]="detalle" [submitted]="submitted" (validacionFormulario)="validarGuardar($event)"></geologia>
            <istrumentalCientifico [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.instrumental" (enviadorCondicion)="obtenerDatoHijo($event)"
              [materialesSelecionados]="materialesSelecionados" [detalle]="detalle" [submitted]="submitted" (validacionFormulario)="validarGuardar($event)"></istrumentalCientifico>
            <paleontologia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.peleontologia" [detalle]="detalle" [submitted]="submitted" (validacionFormulario)="validarGuardar($event)"></paleontologia>
            <zoologia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.zoologia" [detalle]="detalle" [submitted]="submitted" 
              (validacionFormulario)="validarGuardar($event)" [tecnicasConservacionZooSelecionados]="tecnicasConservacionZooSelecionados" (enviadorCondicion)="obtenerMaterialesZoo($event)"></zoologia>

            <div class="separadorInventario">
              <h5>DATOS DE LOCALIZACIÓN</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Provincia *:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="provinciaItem" [(ngModel)]="piezaMuseable.provinciaid" name="provinciaid" (ngModelChange)="obtenerCanton($event)"
                    required></p-dropdown>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.provinciaid?.valid">El campo Provincia es requerido</div>
                </div>
                <div class="ui-grid-col-2">
                  Canton *:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="cantonItem" name="cantonid" [(ngModel)]="piezaMuseable.cantonid" required></p-dropdown>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.cantonid?.valid">El campo Canton es requerido</div>
                </div>


              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Ciudad *:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="cantonItem" name="ciudadid" [(ngModel)]="piezaMuseable.ciudadid" required></p-dropdown>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.ciudadid?.valid">El campo Ciudad es requerido</div>
                </div>
                <div class="ui-grid-col-2">
                  Contenedor *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="contenedor" [(ngModel)]="piezaMuseable.contenedor" required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.contenedor?.valid">El campo Contenedor es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.contenedor}}
                  </div>
                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Dirección *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="direccion" [(ngModel)]="piezaMuseable.direccion" required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.direccion?.valid">El campo Dirección es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.direccion}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  No. *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="numero" [(ngModel)]="piezaMuseable.numero" required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.numero?.valid">El campo No. es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.numero}}
                  </div>
                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Email *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="direccionelectronica" [(ngModel)]="piezaMuseable.direccionelectronica"
                    required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.direccionelectronica?.valid">El campo Email es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.direccionelectronica}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Teléfono *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="telefono" [(ngModel)]="piezaMuseable.telefono" required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.telefono?.valid">El campo Teléfono es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.telefono}}
                  </div>
                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Disposición en el contendor *:
                </div>
                <div class="ui-grid-col-10">
                  <input pInputText type="text" maxlength="150" name="disposicioncontenedor" [(ngModel)]="piezaMuseable.disposicioncontenedor"
                    required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.disposicioncontenedor?.valid">El campo Disposición en el contendor es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.disposicioncontenedor}}
                  </div>


                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Responsable:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="responsable" [(ngModel)]="piezaMuseable.responsable" />

                  <div class="impresion">
                    {{piezaMuseable.responsable}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Cédudala Ciudadania:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="responsableci" [(ngModel)]="piezaMuseable.responsableci" />

                  <div class="impresion">
                    {{piezaMuseable.responsableci}}
                  </div>
                </div>
              </div>
            </div>
            <datosRecoleccion [detalle]="detalle" *ngIf="item.categoriaid.catalogoid==constantes.entomologia || item.categoriaid.catalogoid==constantes.botanica || item.categoriaid.catalogoid==constantes.zoologia"></datosRecoleccion>
            <div *ngIf="!esCatalogacion" class="separadorInventario">
              <h5>CONDICIÓN LEGAL DEL BIEN</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>

            <div *ngIf="!esCatalogacion" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Proceso jurídico *:
                </div>
                <div class="ui-grid-col-4">
                  <p-inputSwitch [(ngModel)]="piezaMuseable.procesojuridico" onLabel="Si" offLabel="No" name="procesojuridico" required></p-inputSwitch>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.procesojuridico?.valid">El campo Proceso jurídico es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.procesojuridico?'SI':'NO'}}
                  </div>
                </div>
              </div>
            </div>


            <div class="separadorInventario">
              <h5>ESTADO GENERAL DEL BIEN</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Estado de conservación:
                </div>
                <div class="ui-grid-col-6">
                  <div class="ui-g ocultar">
                    <div class="ui-g-3 " *ngFor="let estado of estadoConservacionItem">

                      <p-radioButton name="estadoConservacion" value="{{estado.catalogoid}}" (click)="setearEstadoConservacion()" label="{{estado.nombre}}"
                        [(ngModel)]="estadoConservacion" required></p-radioButton>

                      <div class="impresion">
                        {{estado.nombre}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.estadoConservacion?.valid">El campo Estado de conservación es requerido</div>
                  <div class="impresion">
                    {{diccionarioImpresion[estadoConservacion]}}
                  </div>

                </div>
              </div>
              <div *ngIf="!esCatalogacion" class="ui-grid-row">
                <div class="ui-g ocultar" style="width: 100%">
                  <div class="ui-g-3" *ngFor="let estado of estadoDelBien">
                    <p-checkbox name="estadobien" value="{{estado.catalogoid}}" label="{{estado.nombre}}" [(ngModel)]="estadosBienSelecionados"></p-checkbox>

                  </div>
                </div>
                <div class="ui-g impresion" style="width: 100%">
                  <div class="ui-g-3" *ngFor="let estado of estadosBienSelecionados">

                    <input type="checkbox" style="display: initial !important" checked>{{diccionarioImpresion[estado]}}

                  </div>

                </div>


              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Intervenciones inadecuadas *:
                </div>
                <div class="ui-grid-col-4">
                  <p-inputSwitch [(ngModel)]="piezaMuseable.intervencionesinadecuadas" onLabel="Si" offLabel="No" name="intervencionesinadecuadas"
                    required></p-inputSwitch>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.intervencionesinadecuadas?.valid">El campo Nombre es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.intervencionesinadecuadas?'SI':'NO'}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Estado de integridad:
                </div>
                <div class="ui-grid-col-6">
                  <div class="ui-g ocultar">
                    <div class="ui-g-3" *ngFor="let estado of integridadPiezaItem">
                      <p-radioButton name="integridad" value="{{estado.catalogoid}}" label="{{estado.nombre}}" (click)="setearIntegridadPieza()"
                        [(ngModel)]="integridadPieza"></p-radioButton>
                    </div>
                  </div>
                  <div class="ui-messages-error" *ngIf="submitted>0  && integridadPieza==null">El campo Estado de integridad es requerido</div>
                  <div class="impresion">
                    {{diccionarioImpresion[integridadPieza]}}
                  </div>
                </div>
              </div>

            </div>
            <div class="pagebreak"> </div>
            <div *ngIf="!esCatalogacion" class="separadorInventario">
              <h5>CONSERVACION PREVENTIVA EN LUGAR DE EXPOSICIÓN / RESERVA</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>


            <div *ngIf="!esCatalogacion" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Ambientales:
                </div>
                <div class="ui-grid-col-10" style="padding: 0">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Humedad:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.humedad" onLabel="ALTA" offLabel="BAJA" name="humedad" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.humedad?'ALTA':'BAJA'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Temperatura:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.temperatura" onLabel="ALTA" offLabel="BAJA" name="temperatura" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.temperatura?'ALTA':'BAJA'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Luz:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.luz" onLabel="DIRECTA" offLabel="INDIRECTA" name="luz" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.luz?'DIRECTA':'INDIRECTA'}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Físicas:
                </div>
                <div class="ui-grid-col-10" style="padding: 0">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Montaje:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.montaje" onLabel="ADECUADO" offLabel="INADECUADO" name="montaje" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.montaje?'ADECUADO':'INADECUADO'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Extintores:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.extintores" onLabel="SI" offLabel="NO" name="extintores" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.extintores?'SI':'NO'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Sistema eléctrico defectuoso::
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.sistemaelectricodefectuoso" onLabel="SI" offLabel="NO" name="sistemaelectricodefectuoso"
                          required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.sistemaelectricodefectuoso?'SI':'NO'}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Seguridad:
                </div>
                <div class="ui-grid-col-10" style="padding: 0">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Alarmas:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.alarmas" onLabel="SI" offLabel="NO" name="alarmas" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.alarmas?'SI':'NO'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Sensores:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.sensores" onLabel="SI" offLabel="NO" name="sensores" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.sensores?'SI':'NO'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Cámaras:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.camaras" onLabel="SI" offLabel="NO" name="camaras" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.camaras?'SI':'NO'}}
                        </div>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Guardias:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.guardias" onLabel="SI" offLabel="NO" name="guardias" required></p-inputSwitch>
                        <div class="impresion">
                          {{piezaMuseable.guardias?'SI':'NO'}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="separadorInventario">
              <h5>OBSERVACIONES</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="550" name="detalles" [(ngModel)]="piezaMuseable.observaciones"></textarea>
                  <div class="impresion">
                    {{piezaMuseable.observaciones}}
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!esCatalogacion" class="separadorInventario">
              <h5>FOTOGRÁFIA</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>
            <div *ngIf="!esCatalogacion" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <img *ngIf="foto!=null" style="max-width: 100%" [src]="foto">
                  <input name="file" type="file" id="adjuntar" accept="image/*" class="ui-g-12 ui-md-12 ui-lg-12 inputUpload" (change)="fileChangeEvent($event)"
                    placeholder="Subir Archivo..." />

                  <div class="ui-messages-error" *ngIf="submitted>0  && piezaMuseable.piezamuseableid == null && documento == null">El campo Fotrográfia es requerido</div>
                </div>
              </div>
            </div>

            <div *ngIf="!esCatalogacion" class="separadorInventario">
              <h5>HISTORIAL DE ITINERANCIA</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>

            <div *ngIf="!esCatalogacion" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="550" name="detalles" [(ngModel)]="piezaMuseable.historiaitinerancia"></textarea>
                  <div class="impresion">
                    {{piezaMuseable.historiaitinerancia}}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!esCatalogacion" class="separadorInventario">
              <h5>DATOS DE CONTROL DE BIENES UCE</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>

            <div *ngIf="!esCatalogacion" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Provincia:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="provinciaItem" name="provinciabienesid" [(ngModel)]="piezaMuseable.provinciabienesid"></p-dropdown>
                </div>
                <div class="ui-grid-col-2">
                  Fecha de transferencia:
                </div>
                <div class="ui-grid-col-4">
                  {{item.fechaadquisicion | date: properties.formatoFecha}}
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Procedencia:
                </div>
                <div class="ui-grid-col-4">
                  {{item.procedencia}}
                </div>
                <div class="ui-grid-col-2">
                  Custodio:
                </div>
                <div class="ui-grid-col-4">
                  <div *ngIf="museo && museo.cutodioId">{{museo.cutodioId.nombres}}</div>
                </div>
              </div>
            </div>
            <div class="separadorInventario">
              <h5>DATOS DE CONTROL INVENTARIO</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Entidad investigadora *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.entidadinvestigadora" name="entidadinvestigadora"
                    required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.entidadinvestigadora?.valid">El campo Entidad investigadora es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.entidadinvestigadora}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Inventariado por *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.inventariadopor" name="inventariadopor" required
                  />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.inventariadopor?.valid">El campo Inventariado por es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.inventariadopor}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de inventario *:
                </div>
                <div class="ui-grid-col-4">
                  <p-calendar name="fechainventario" [locale]="es" [(ngModel)]="piezaMuseable.fechainventario" [showIcon]="true" required></p-calendar>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.fechainventario?.valid">El campo Fecha de inventario es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.fechainventario | date: properties.formatoFecha}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Revisado por *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.revisadopor" name="revisadopor" required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.revisadopor?.valid">El campo Revisado por es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.revisadopor}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de revisión *:
                </div>
                <div class="ui-grid-col-4">
                  <p-calendar name="fecharevision" [locale]="es" [(ngModel)]="piezaMuseable.fecharevision" [showIcon]="true" required></p-calendar>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.fecharevision?.valid">El campo Fecha de revisión es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.fecharevision | date: properties.formatoFecha}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Aprobado por *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.aprobadopor" name="aprobadopor" required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.aprobadopor?.valid">El campo Aprobado por es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.aprobadopor}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de aprobación *:
                </div>
                <div class="ui-grid-col-4">
                  <p-calendar name="fechaaprobacion" [locale]="es" [(ngModel)]="piezaMuseable.fechaaprobacion" [showIcon]="true" required></p-calendar>
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.fechaaprobacion?.valid">El campo Fecha de aprobación es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.fechaaprobacion | date: properties.formatoFecha}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Registrado por *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="registrofotograficopor" [(ngModel)]="piezaMuseable.registrofotograficopor"
                    required />
                  <div class="ui-messages-error" *ngIf="submitted>0  && !form.form.controls.registrofotograficopor?.valid">El campo Registrado por es requerido</div>
                  <div class="impresion">
                    {{piezaMuseable.registrofotograficopor}}
                  </div>
                </div>
              </div>
            </div>

            <div class="separadorInventario">
              <h5>TRAYECTORIA DEL BIEN</h5>
              <div style="width: 100%;text-align: right">
                <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
                <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
              </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Tipo Ingreso:
                </div>
                <div class="ui-grid-col-4">
                  {{item.tipoingreso.nombre}}
                </div>
                <div class="ui-grid-col-2">
                  Oferente:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.oferente" name="oferente" />
                  <div class="impresion">
                    {{piezaMuseable.oferente}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de Adquisición:
                </div>
                <div class="ui-grid-col-4">
                  {{item.fechaadquisicion | date: properties.formatoFecha}}
                </div>
                <div class="ui-grid-col-2">
                  Precio de Adquisición:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="number" maxlength="150" [(ngModel)]="piezaMuseable.precioadquicicion" name="precioadquicicion" />

                  <div class="impresion">
                    {{piezaMuseable.precioadquicicion}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Seguro:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.seguro" name="seguro" />
                  <div class="impresion">
                    {{piezaMuseable.seguro}}
                  </div>
                </div>
                <div class="ui-grid-col-2">
                  Tasación Actual:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.tasacion" name="tasacion" />

                  <div class="impresion">
                    {{piezaMuseable.tasacion}}
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de Ingreso *:
                </div>
                <div class="ui-grid-col-4">
                  {{item.fechaingreso | date: properties.formatoFecha}}
                </div>


              </div>
            </div>

            <div *ngIf="!esCatalogacion" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin ocultar">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-3">
                  <button pButton type="button" (click)="subtmit();formularioValido=form.valid" label="{{properties.guardar.label}}" icon="{{properties.guardar.icon}}"></button>
                </div>
                <div class="ui-grid-col-3">
                  <button pButton type="button" (click)="volver()" label="{{properties.cancelar.label}}" icon="{{properties.cancelar.icon}}"
                    class="ui-button-secondary"></button>

                </div>
                <div class="ui-grid-col-3">
                  <button pButton type="button" (click)="print()" label="{{properties.imprimir.label}}" icon="{{properties.imprimir.icon}}"
                    class="ui-button-secondary"></button>
                </div>
                <div class="ui-grid-col-1"></div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </app-card>
  </div>
</div>