<div class="row">
  <div class="col-sm-12">
    <app-card [title]="acciones">
      <div style="width: 100%">
          <button pButton type="button" style="width: 100%"  (click)="volver()" label="Atrás" ></button>

      </div>
      <br>
      <p-messages [(value)]="msgs"></p-messages>

      <div class="ui-g" *ngIf="piezaMuseable!=null">
        <form #form="ngForm" (ngSubmit)=" guardar()" style="width: 100%" novalidate>

          <p-fieldset legend="FICHA DE INVENTARIO {{item?.categoriaid.nombre}}">

            <div class="separadorInventario">
              <h5 style="float: left"  >INFORMACIÓN TÉCNICA</h5>
              <div style="width: 100%;text-align: right"> 
                <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
              </div>
              
            </div>
            <arqueologia [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.arqueologia" [detalle]="detalle" [materialesArqueologiaSelecionados]="materialesArqueologiaSelecionados" (enviadorCondicion)="obtenerMaterialesArquelogica($event)"></arqueologia>
            <botanica  [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.botanica" [detalle]="detalle" [origenesBotanicaSeleccionados]="origenesBotanicaSeleccionados" [tecnicaConservacionBotanicaSelecionados]="tecnicaConservacionBotanicaSelecionados" (enviadorTecnicas)="optenerBotanicaTecnicas($event)" (enviadorOrigenes)="optenerBotanicaOrigenes($event)"></botanica>
            <entomologia  [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.entomologia" [detalle]="detalle"  (enviadorCondicion)="obtenerDatoHijoEntomologia($event)"  [tecnicaConservacionSelecionados]="tecnicaConservacionSelecionados" ></entomologia>
            <fotografia  [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.fotografia" [detalle]="detalle"></fotografia>
            <geologia  [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.geologia" [detalle]="detalle"></geologia>
            <istrumentalCientifico [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.instrumental" (enviadorCondicion)="obtenerDatoHijo($event)"  [materialesSelecionados]="materialesSelecionados" [detalle]="detalle"></istrumentalCientifico>
            <paleontologia  [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.peleontologia" [detalle]="detalle"></paleontologia>
            <zoologia  [item]="item" *ngIf="item.categoriaid.catalogoid==constantes.zoologia" [detalle]="detalle"></zoologia>
            
            <div class="separadorInventario">
              <h5 style="float: left" >DATOS DE LOCALIZACIÓN</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Provincia:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="provinciaItem" [(ngModel)]="piezaMuseable.provinciaid" name="provinciaid" (ngModelChange)="obtenerCanton($event)"></p-dropdown>
                </div>
                <div class="ui-grid-col-2">
                  Canton *:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="cantonItem" name="cantonid" [(ngModel)]="piezaMuseable.cantonid"></p-dropdown>
                </div>


              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Ciudad *:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="cantonItem" name="cantonid" [(ngModel)]="piezaMuseable.ciudadid"></p-dropdown>
                </div>
                <div class="ui-grid-col-2">
                  Contenedor *:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="modelo" [(ngModel)]="piezaMuseable.contenedor" required />
                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Dirección:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="direccion" [(ngModel)]="piezaMuseable.direccion" required />
                </div>
                <div class="ui-grid-col-2">
                  No.:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="numero" [(ngModel)]="piezaMuseable.numero" required />
                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Email:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="direccionelectronica" [(ngModel)]="piezaMuseable.direccionelectronica" required
                  />
                </div>
                <div class="ui-grid-col-2">
                  Teléfono:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="telefono" [(ngModel)]="piezaMuseable.telefono" required />
                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Disposición en el contendor *:
                </div>
                <div class="ui-grid-col-">
                  <input pInputText type="text" maxlength="150" name="disposicioncontenedor" [(ngModel)]="piezaMuseable.disposicioncontenedor" required
                  />


                </div>

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Responsable:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="responsable" [(ngModel)]="piezaMuseable.responsable" required />
                </div>
                <div class="ui-grid-col-2">
                  Cédudala Ciudadania:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="cedula" [(ngModel)]="piezaMuseable.cedula" required />
                </div>
              </div>
            </div>
            <datosRecoleccion [detalle]="detalle" *ngIf="item.categoriaid.catalogoid==constantes.entomologia || item.categoriaid.catalogoid==constantes.botanica"></datosRecoleccion>
            <div class="separadorInventario">
              <h5 style="float: left">CONDICIÓN LEGAL DEL BIEN</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Proceso jurídico *:
                </div>
                <div class="ui-grid-col-4">
                  <p-inputSwitch [(ngModel)]="piezaMuseable.procesojuridico" onLabel="Si" offLabel="No" name="procesojuridico" required></p-inputSwitch>
                </div>
              </div>
            </div>
            <div class="separadorInventario">
              <h5 style="float: left">ESTADO GENERAL DEL BIEN</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Estado de conservación:
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-g">
                        <div class="ui-g-3" *ngFor="let estado of estadoConservacionItem">
                          
                            <p-radioButton name="estadoConservacion" value="{{estado.catalogoid}}" (click)="setearEstadoConservacion()" label="{{estado.nombre}}" [(ngModel)]="estadoConservacion"></p-radioButton>
                          </div>
                    </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-g">
                    <div class="ui-g-3" *ngFor="let estado of estadoDelBien">
                        <p-checkbox name="estadobien" value="{{estado.catalogoid}}" label="{{estado.nombre}}" [(ngModel)]="estadosBienSelecionados"></p-checkbox>
                      </div>
                </div>
                

              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Intervenciones inadecuadas *:
                </div>
                <div class="ui-grid-col-4">
                  <p-inputSwitch [(ngModel)]="piezaMuseable.intervencionesinadecuadas" onLabel="Si" offLabel="No" name="intervencionesinadecuadas" required></p-inputSwitch>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Estado de integridad:
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-g">
                        <div class="ui-g-3" *ngFor="let estado of integridadPiezaItem">
                            <p-radioButton name="integridad" value="{{estado.catalogoid}}" label="{{estado.nombre}}" (click)="setearIntegridadPieza()"  [(ngModel)]="integridadPieza"></p-radioButton>
                          </div>
                    </div>
                </div>
              </div>

            </div>
            <div class="separadorInventario">
              <h5 style="float: left">CONSERVACION PREVENTIVA EN LUGAR DE EXPOSICIÓN / RESERVA</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>


            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Ambientales:
                </div>
                <div class="ui-grid-col-10">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Humedad:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.humedad" onLabel="ALTA" offLabel="BAJA" name="humedad" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Temperatura:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.temperatura" onLabel="ALTA" offLabel="BAJA" name="temperatura" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Luz:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.luz" onLabel="DIRECTA" offLabel="INDIRECTA" name="luz" required></p-inputSwitch>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Físicas:
                </div>
                <div class="ui-grid-col-10">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Montaje:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.montaje" onLabel="ADECUADO" offLabel="INADECUADO" name="montaje" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Extintores:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.extintores" onLabel="SI" offLabel="NO" name="extintores" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Sistema eléctrico defectuoso::
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.sistemaelectricodefectuoso" onLabel="SI" offLabel="NO" name="sistemaelectricodefectuoso" required></p-inputSwitch>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Seguridad:
                </div>
                <div class="ui-grid-col-10">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Alarmas:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.alarmas" onLabel="SI" offLabel="NO" name="alarmas" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Sensores:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.sensores" onLabel="SI" offLabel="NO" name="sensores" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Cámaras:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.camaras" onLabel="SI" offLabel="NO" name="camaras" required></p-inputSwitch>
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        Guardias:
                      </div>
                      <div class="ui-grid-col-4">
                        <p-inputSwitch [(ngModel)]="piezaMuseable.guardias" onLabel="SI" offLabel="NO" name="guardias" required></p-inputSwitch>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="separadorInventario">
              <h5 style="float: left">OBSERVACIONES</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="256" name="detalles" [(ngModel)]="piezaMuseable.observaciones"
                    required></textarea>
                </div>
              </div>
            </div>

            <div class="separadorInventario">
              <h5 style="float: left">FOTOGRÁFIA</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <img *ngIf="foto!=null" style="width: 200px ;height: 200px;" [src]="foto">
                  <input  name="file" type="file" id="adjuntar" class="ui-g-12 ui-md-12 ui-lg-12 inputUpload" (change)="fileChangeEvent($event)"
                        placeholder="Subir Archivo..." required />
                </div>
              </div>
            </div>
            <div class="separadorInventario">
              <h5 style="float: left">HISTORIAL DE ITINERANCIA</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="256" name="detalles" [(ngModel)]="piezaMuseable.historiaitinerancia"
                    required></textarea>
                </div>
              </div>
            </div>
            <div class="separadorInventario">
              <h5 style="float: left">DATOS DE CONTROL DE BIENES UCE</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Provincia:
                </div>
                <div class="ui-grid-col-4">
                  <p-dropdown [options]="provinciaItem"  name="provinciaid" (ngModelChange)="obtenerCanton($event)"></p-dropdown>
                </div>
                <div class="ui-grid-col-2">
                  Fecha de transferencia:
                </div>
                <div class="ui-grid-col-4">
                    <p-calendar name="fechaadquisicion" [locale]="es" [showIcon]="true" required  ></p-calendar> 
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Procedencia:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="procedencia"  required />
                </div>
                <div class="ui-grid-col-2">
                  Custodio:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="custodio"  required />
                </div>
              </div>
            </div>
            <div class="separadorInventario">
              <h5 style="float: left">DATOS DE CONTROL INVENTARIO</h5>
              <div style="width: 100%;text-align: right"> 
                  <button pButton type="button"  icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);" ></button>
                  <button pButton type="button"  icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0" ></button>
                </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Entidad investigadora:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.entidadinvestigadora" name="entidadinvestigadora"  required />
                </div>
                <div class="ui-grid-col-2">
                  Inventariado por:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.inventariadopor" name="codigocontrol"  required />
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de inventario:
                </div>
                <div class="ui-grid-col-4">
                    <p-calendar name="fechainventario" [locale]="es" [(ngModel)]="piezaMuseable.fechainventario" [showIcon]="true" required  ></p-calendar> 
                </div>
                <div class="ui-grid-col-2">
                  Revisado por:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.revisadopor" name="revisadopor"  required />
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de revisión:
                </div>
                <div class="ui-grid-col-4">
                    <p-calendar name="fecharevision" [locale]="es" [(ngModel)]="piezaMuseable.fecharevision" [showIcon]="true" required  ></p-calendar> 
                </div>
                <div class="ui-grid-col-2">
                  Aprobado por:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" [(ngModel)]="piezaMuseable.aprobadopor" name="aprobadopor"  required />
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Fecha de aprobación:
                </div>
                <div class="ui-grid-col-4">
                    <p-calendar name="fechaaprobacion" [locale]="es" [(ngModel)]="piezaMuseable.fechaaprobacion" [showIcon]="true" required  ></p-calendar> 
                </div>
                <div class="ui-grid-col-2">
                  Registrado por:
                </div>
                <div class="ui-grid-col-4">
                  <input pInputText type="text" maxlength="150" name="registrofotograficopor" [(ngModel)]="piezaMuseable.registrofotograficopor"  required />
                </div>
              </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-3">
                  <button pButton type="submit" label="{{properties.guardar.label}}" icon="{{properties.guardar.icon}}"></button>
                </div>
                <div class="ui-grid-col-3">
                  <button pButton type="button"  (click)="volver()" label="{{properties.cancelar.label}}" icon="{{properties.cancelar.icon}}"
                    class="ui-button-secondary"></button>

                </div>
                <div class="ui-grid-col-4"></div>
              </div>
            </div>
          </p-fieldset>
        </form>
      </div>
    </app-card>
  </div>
</div>