<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="detalle!=null">

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Especie:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="especie" [(ngModel)]="detalle.especie" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Autor:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="autor" [(ngModel)]="detalle.autor" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Nombre Común:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="nombrecomun" [(ngModel)]="detalle.nombrecomun" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Plublicado en:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="morfofuncional" [(ngModel)]="detalle.publicado" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Clase:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="morfofuncional" [(ngModel)]="detalle.clase" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Subclase:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="morfofuncional" [(ngModel)]="detalle.subclase" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Orden:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="morfofuncional" [(ngModel)]="detalle.orden" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Familia:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="morfofuncional" [(ngModel)]="detalle.familia" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Género:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="morfofuncional" [(ngModel)]="detalle.genero" />
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Origen:
    </div>
    <div class="ui-grid-col-10">
      <div class="ui-g">
        <div class="ui-g-3" *ngFor="let estado of origenItem">
          <p-checkbox name="origenes" value="{{estado.catalogoid}}" label="{{estado.nombre}}" (click)="imprOrigen()" [(ngModel)]="origenesBotanicaSeleccionados"></p-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Técnica de conservación:
    </div>
    <div class="ui-grid-col-10">
      <div class="ui-g">
        <div class="ui-g-3" *ngFor="let estado of tecnicasItem">
          <p-checkbox name="tecnicas" value="{{estado.catalogoid}}" label="{{estado.nombre}}" (click)="impr()" [(ngModel)]="tecnicaConservacionBotanicaSelecionados"></p-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Descripcion *:
    </div>
    <div class="ui-grid-col-10">
      <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="256" name="detalles" [(ngModel)]="detalle.descripcion"></textarea>
    </div>
  </div>

</div>