<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="detalle!=null">

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Nombre:
    </div>
    <div class="ui-grid-col-4">
      {{item?.nombre}}
    </div>
    <div class="ui-grid-col-2">
      Tipo de bien *:
    </div>
    <div class="ui-grid-col-4">
      <input pInputText type="text" maxlength="150" name="tipobien" [(ngModel)]="detalle.tipobien" />
    </div>


  </div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Otra denominación *:
    </div>
    <div class="ui-grid-col-10">
      <input pInputText type="text" maxlength="150" name="otradenominacion" [(ngModel)]="detalle.otradenominacion" />
    </div>

  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Material *:
    </div>
    <div class="ui-grid-col-10">
        <div class="ui-g">
            <div class="ui-g-3" *ngFor="let estado of materialesItem">
                <p-checkbox name="materiales" value="{{estado.catalogoid}}" label="{{estado.nombre}}" (click)="impr()" [(ngModel)]="materialesSelecionados"></p-checkbox>
              </div>
        </div>
    </div>


  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Técnica *:
    </div>
    <div class="ui-grid-col-4">
      <input pInputText type="text" maxlength="150" name="tecnica" [(ngModel)]="detalle.tecnica" />
    </div>
    <div class="ui-grid-col-2">
      Fabricante:
    </div>
    <div class="ui-grid-col-4">
      <input pInputText type="text" maxlength="150" name="fabricante" [(ngModel)]="detalle.fabricante" />
    </div>


  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Lugar de fabricación:
    </div>
    <div class="ui-grid-col-4">
      <input pInputText type="text" maxlength="150" name="lugarfabricacion" [(ngModel)]="detalle.lugarfabricacion" />
    </div>
    <div class="ui-grid-col-2">
      Fecha fabricación:
    </div>
    <div class="ui-grid-col-4">
      <p-calendar name="fechafabricacion" [locale]="es" [(ngModel)]="detalle.fechafabricacion" [showIcon]="true"></p-calendar>
    </div>


  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Funciona:
    </div>
    <div class="ui-grid-col-4">

      <p-inputSwitch [(ngModel)]="detalle.funciona" onLabel="Si" offLabel="No" name="funciona"></p-inputSwitch>
    </div>
    <div class="ui-grid-col-2">
      En Uso *:
    </div>
    <div class="ui-grid-col-4">

      <p-inputSwitch [(ngModel)]="detalle.enuso" onLabel="Si" offLabel="No" name="enuso"></p-inputSwitch>

    </div>


  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Inscripciones *:
    </div>
    <div class="ui-grid-col-4">
      <input pInputText type="text" maxlength="150" name="procedencia" [(ngModel)]="detalle.inscripciones" />
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">Dimensiones:</div>
    <div class="ui-grid-col-10">
      <div class="ui-g">
        <div class="ui-g-2">
          Alto *:
        </div>
        <div class="ui-g-2">

          <input pInputText type="text" maxlength="150" name="alto" [(ngModel)]="detalle.alto" />

        </div>
        <div class="ui-g-2">
          Largo *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="text" maxlength="150" name="largo" [(ngModel)]="detalle.largo" />
        </div>
        <div class="ui-g-2">
          Profundidad *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="text" maxlength="150" name="procedencia" [(ngModel)]="detalle.profundidad" />
        </div>
        <div class="ui-g-2">
          Diámetro *:
        </div>
        <div class="ui-g-2">

          <input pInputText type="text" maxlength="150" name="diametro" [(ngModel)]="detalle.diametro" />

        </div>
        <div class="ui-g-2">
          Espesor *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="text" maxlength="150" name="espesor" [(ngModel)]="detalle.espesor" />
        </div>
        <div class="ui-g-2">
          Peso *:
        </div>
        <div class="ui-g-2">
          <input pInputText type="text" maxlength="150" name="peso" [(ngModel)]="detalle.peso" />
        </div>
      </div>
    </div>

  </div>



  <div class="ui-grid-row">
    <div class="ui-grid-col-2">
      Detalles *:
    </div>
    <div class="ui-grid-col-10">
      <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="256" name="descripcion" [(ngModel)]="detalle.descripcion"></textarea>
    </div>

  </div>



</div>