<div class="separadorInventario">
      <h5>FORMA Y DISEÑO DEL BIEN ARQUEOLÓGICO</h5>
      <div style="width: 100%;text-align: right">
            <button pButton type="button" icon="fas fa-arrow-circle-down" onclick="window.scrollTo(0,document.body.scrollHeight);"></button>
            <button pButton type="button" icon="fas fa-arrow-circle-up" onclick="document.documentElement.scrollTop = 0"></button>
      </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid margin" *ngIf="detalle!=null">

      <div class="ui-grid-row">
            Tecnología de elaboración *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="elaboracion" [(ngModel)]="detalle.elaboracion"
                  #elaboracion="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && elaboracion.invalid">El campo Tecnología de elaboración es requerido</div>
            <div class="impresion">
                  {{detalle.elaboracion}}
            </div>
      </div>
      <div class="ui-grid-row">
            Herramientas utilizadas en su elaboración:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.herramientas"></textarea>
            <div class="impresion">
                  {{detalle.herramientas}}
            </div>
      </div>
      <div class="ui-grid-row">
            Técnica de decoración *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.decoracion"
                  #decoracion="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && decoracion.invalid">El campo Técnica de decoración es requerido</div>
            <div class="impresion">
                  {{detalle.decoracion}}
            </div>
      </div>
      <div class="ui-grid-row">
            Técnicas de alteración en la superficie:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.alteracion"></textarea>
            <div class="impresion">
                  {{detalle.alteracion}}
            </div>
      </div>
      <div class="ui-grid-row">
            Símbolos y diseños utilizados:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.simbolos"></textarea>
            <div class="impresion">
                  {{detalle.simbolos}}
            </div>
      </div>
      <div class="ui-grid-row">
            Análisis semiótico de los símbolos y diseños:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.semiotico"></textarea>
            <div class="impresion">
                  {{detalle.semiotico}}
            </div>
      </div>
      <div class="ui-grid-row">
            Colores utilizados *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.coloresusados"
                  #coloresusados="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && coloresusados.invalid">El campo Colores utilizados es requerido</div>
            <div class="impresion">
                  {{detalle.coloresusados}}
            </div>
      </div>
      <div class="ui-grid-row">
            Procedencia de colores:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.coloresprocedencia"></textarea>
            <div class="impresion">
                  {{detalle.coloresprocedencia}}
            </div>
      </div>
      <div class="ui-grid-row">
            Análisis semiótico de colores *:
      </div>
      <div class="ui-grid-row">
            <textarea pInputTextarea style="resize: none; width: 100%" rows="7" maxlength="3000" name="detalles" [(ngModel)]="detalle.semioticocolores"
                  #semioticocolores="ngModel" required></textarea>
            <div class="ui-messages-error" *ngIf="submitted>0  && semioticocolores.invalid">El campo Análisis semiótico de colores es requerido</div>
            <div class="impresion">
                  {{detalle.semioticocolores}}
            </div>
      </div>
</div>