<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img src="assets/images/muce_logo.png" style="width: 40%" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Ingreso</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" class="form-control" name="usuario" placeholder="Usuario" [(ngModel)]="usuario">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" [(ngModel)]="password">
                <span class="md-line"></span>
              </div>
              
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" [disabled]="usuario==null || password==null" (click)="logear()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Ingresar</button>
                </div>
              </div>
              <hr/>
              <!-- <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Univeridad Central del Ecuador.</p>
                  <p class="text-inverse text-left"><b>MUCE</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
